body {
  box-sizing: border-box;
  background-color: rgb(43, 31, 55);
}
.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
  min-height: 100vh;
  width: 60vw;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(65, 52, 78);
  /* border-radius: 20px; */
}
::-webkit-scrollbar {
  width: 0;
}
